@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@400;600&display=swap');

h1 {
  font-size: $font-xl; //48px
  font-weight: 600;
}

h2 {
  font-size: $font-l; //32px
}

h3 {
  font-size: $font-m; //18px;
}

h4 {
  font-size: $font-default; //16px
}

h5 {
  font-size: $font-s; //14px
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: $font-s;
  line-height: 1.5625rem;
}

a {
  font-size: $font-s;
}

.bengali {
  font: normal normal bold 26px KongshoMatraMJ;
}

@media only screen and (max-device-width: 1366px) {
  h1 {
    font-size: 32px; //48px
  }

  h2 {
    font-size: 24px; //32px
  }

  h3 {
    font-size: $font-m; //18px;
  }

  h4 {
    font-size: 14px; //16px
  }

  h5 {
    font-size: $font-s; //14px
  }

  p {
    font-family: 'Open Sans', sans-serif;
    font-size: $font-s; //14px
    line-height: 1.5625rem;
  }

  a {
    font-size: $font-s;
  }

  .bengali {
    font: normal normal bold 22px KongshoMatraMJ;
  }
}
