//Colors
$limeGreen: #00f241;
$lightGrey: #728391;
$offWhite: #f8f8f9;
$skyBlue: #0062ff;

//Font sizes
$font-xl: 3rem; //48px
$font-l: 2rem; //32px
$font-m: 1.125rem; //18px
$font-default: 1rem; //16px
$font-s: 0.875rem; //14px
$font-xs: 0.75rem; //12px
